body {
    font-family: Helvetica, Arial, sans-serif; /*"Times New Roman", serif;*/
    color: #161616;
    font-size: 12pt;
    margin: 0px;
    padding: 0px;
    font-style: normal;
    overflow-x: hidden;
}

a, a:visited {
    color: #7A6A53;
}

.simple_content {
    padding: 20px;
}

.simple_content p {
    padding: 0px 10px;
}

.simple_content h1, .simple_content h2, .simple_content h3 {
    font-family: Volkhov, Georgia, serif;
    font-weight: normal;
}

.simple_content h1 {
    padding: 20px 15px;
    background-color: #D5DED9;
    font-size: 24pt;
}

.simple_content h2 {
    padding: 15px 10px;
    background-color: #D9CEB2;
}

.container {
    max-width: 800px;
    min-width: 400px;
    margin: 0px auto;
}

hr {
    width: 90%;
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-linear-gradient(left, #ccc, #333, #ccc);
    background-image:    -moz-linear-gradient(left, #ccc, #333, #ccc);
    background-image:     -ms-linear-gradient(left, #ccc, #333, #ccc);
    background-image:      -o-linear-gradient(left, #ccc, #333, #ccc);
}

#title_block {
    background-color: #D9CEB2;
    color: #161616;
    margin: 0;
    border: none;
}

#inner_title_block {
    padding: 75px 100px;
}

#title {
    font-family: "Volkhov", serif;
    font-size: 36pt;
}

#subtitle {
    margin-top: 10px;
}

#navbar {
    font-family: Volkhov, Georgia, serif;
    text-transform: lowercase;
    background-color: #7A6A53;
}

#inner_navbar {
    padding: 10.5px 50px;
}

#navbar ul {
    margin: 0;
    padding: 0;
}

#navbar ul li {
    display: inline;
}

#navbar ul li a {
    text-decoration: none;
    color: white;
    padding: 11px 10.5px 11px 0px;
    margin: 0px;
}

#navbar ul li a:visited  {
    color: white;
}

#navbar ul li .current {
    font-weight: 700;
    font-size: 14pt;
}

#navbar ul li a:hover {
    text-decoration: underline;
}

.project_block {
    padding: 30px 50px;
    margin: 0px auto;
}

.project_title {
    font-family: Volkhov, Georgia, serif;
    padding: 20px 15px;
    background-color: #D5DED9;
    font-size: 24pt;
}

.project_description {
    padding: 30px 50px;
    max-width: 1024px;
}

.bio_block {
    padding: 30px 50px;
    margin: 0px auto;
}

.bio_title {
    font-family: Volkhov, Georgia, serif;
    font-size: 32pt;
}

.bio_description {
}

.header_block {
    font-size: 14pt;
    padding: 30px 50px;
    background-color: #D9CEB2;
    margin: 30px 50px 0px 50px;
}
